* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

h1, h3 {
  font-family: 'Potta One', cursive;
  text-align: center;
  padding-top: 20px;
}

h1 {
  color: #FFFFFF;
  padding-bottom: 30px;
  font-size: 50px;
}

h3 {
  color: #232C2E;
}

[class^="card"] {
  height: 250px;
  width: auto;
  background: url("../img/pattern.png") repeat;
  background-size: contain;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}

[class^="row"] {
  width: 70%;
  margin: auto;
  content: "";
  display: table;
  clear: both;
}

div.col {
  width: 100%;
  height: 210px;
}

.card1, .card2, .card3, .card4{
  width: 22%;
  float: left;
}

span {
  visibility: hidden;
}

.face_card  {
 background: white url("../img/noun_air_balloon_3134741.png") no-repeat center;
 background-size:contain;
 position: relative;
}

.face_card span {
  color: #DA589D;
  position: absolute;
  bottom: 1%;
  left: 15%;
  visibility: visible;
  font-family: 'Potta One', cursive;
  font-size: 25px;
}

.tractor:hover {
  background: white url("../img/noun_Tractor_3134797.png") no-repeat;
}

.tractor:hover span {
  color: #D18441;
}

.bicycle:hover {
  background: white url("../img/noun_Bicycle_3134821.png") no-repeat;
}

.bicycle:hover span {
  color: #EAF207;
}

.cruise_ship:hover {
  background: white url("../img/noun_Cruise_Ship_3134824.png") no-repeat;
}

.cruise_ship:hover span {
  color: #ED0909;
}

.submarine:hover {
  background: white url("../img/noun_Submarine_3134738.png") no-repeat;
}

.submarine:hover span {
  color: #11D642;
}

.tram:hover {
  background: white url("../img/noun_Tram_3134750.png") no-repeat;
}

.tram:hover span {
  color: #36BFDB;
}

.air_baloon:hover {
  background: white url("../img/noun_air_balloon_3134741.png") no-repeat;
}

.air_baloon:hover span {
  color: #DA589D;
}

.air_baloon:hover span, .tram:hover span, .submarine:hover span, .cruise_ship:hover span, .bicycle:hover span, .tractor:hover span  {
  position: absolute;
  bottom: 1%;
  left: 15%;
  visibility: visible;
  font-family: 'Potta One', cursive;
  font-size: 25px;
}

.tractor:hover, .bicycle:hover, .cruise_ship:hover, .submarine:hover, .tram:hover, .air_baloon:hover {
  background-size:contain;
  position: relative;
  background-position: left top;
}
