* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

h1 {
  text-align: center;
  color: #FFFFFF
}

[class^="card"] {
  height: 250px;
  width: auto;
  background: url("../img/pattern.png") repeat;
  background-size: contain;
  margin: 10px 10px;
}

[class^="row"] {
  width: 70%;
  margin: auto;
  content: "";
  display: table;
  clear: both;
}

[class^="col"] {
  width: 100%;
  height: 210px;
}

.card1 {
  width: 22%;
  float: left;
}

.card2 {
  width: 22%;
  float: left;
}

.card3 {
  width: 22%;
  float: left;
}

.card4 {
  width: 22%;
  float: left;
}

.air_baloon:hover  {
 background: white url("../img/noun_air_balloon_3134741.png") no-repeat center;
 background-size:contain;
 position: relative;
}

.air_baloon:hover span {
  color: #DA589D;
  position: absolute;
  bottom: 5px;
  left: 40px;
}

.tractor {
  background: white url("../img/noun_Tractor_3134797.png") no-repeat;
  background-size:contain;
  position: relative;
  background-position: left top;
}

.tractor span {
  color: #D18441;
  position: absolute;
  bottom: 5px;
  left: 40px;
}
